// backgrounds
$background-primary: #ffffff;
$background-secondary: #0000001A;
$background-tertiary: #131A34;
$background-contrast: #363636;

// font colors
$font-color-primary: #192451;
$font-color-secondary:#919194;
$font-color-tertiary: #C2C6D9 ;

// foregrounds
$foreground-primary: #00a273;
$foreground-secondary: #E3E3E3;
$foreground-tertiary: #b6b6b6;

// logo base colors
$logo-primary-color: #de001a;
$logo-secondary-color: #ffffff;

// icon colors
$icon-primary:#7E849F;
$icon-secondary:#A2A2A6;

// basic colors
$success-color: #1DBC8E;
$danger-color: #E9374F;
$warning-color: #FD612B;
$info-color: #FD9A00;
$default-color: #b6b6b6;