@import "../../styles/color";
@import "../../styles/variables";

.side-nav-wrapper {
  background-color: $background-tertiary;
  grid-column: span 1;
  display: grid;
  grid: 6rem 12rem 45rem 9rem/ 1fr;
  height: 100%;
  max-width: 20rem;

  .side-nav-logo {
    grid-row: span 1;
    display: grid;
    grid: 1fr / 6fr 1fr;
    height: 100%;
    cursor: pointer;
    align-items: center;

    img {
      width: 130px;
      height: 48px;
      margin-left: 1rem;
      background-color: $background-tertiary;
    }

    svg {
      color: $icon-primary;
    }

  }

  .side-nav-top {
    grid-row: span 1;
    display: grid;
    grid: repeat(4, 1fr) / 1fr;
    align-items: center;

    .side-nav-top-options {
      display: grid;
      grid: auto / 1fr 3fr;
      align-items: center;
      padding: 0.5rem;
      cursor: pointer;

      svg {
        margin-left: 0.5rem;
        color: $icon-primary;
      }

      h3 {
        font-size: $font-size-master;
        color: $font-color-tertiary;
        font-weight: 200;
      }

      &:hover {
        background-color: #323c61;
      }

    }

  }

  .side-nav-middle {
    grid-row: span 1;
    display: grid;
    grid: repeat(10, 1fr) / 1fr;
    height: 100%;
    align-items: center;
    margin-top: 1rem;
    border-top: 1px solid grey;

    img {
      height: 35px;
      width: 35px;
    }

    .side-nav-middle-title {
      grid-row: span 1;
      display: grid;
      grid: 1fr / 3fr 1fr;
      align-items: center;

      h3 {
        margin-left: 1rem;
        font-size: $font-size-master;
        font-weight: 200;
        color: $font-color-tertiary;
      }

      svg {
        margin-left: 1rem;
        color: $icon-primary;
      }

    }

    .side-nav-middle-options {
      display: grid;
      grid: auto / 1fr 3fr;
      align-items: center;
      padding: 0.5rem;
      color: #818181;
      cursor: pointer;

      &:hover {
        background-color: #323c61;
      }

      .side-nav-role-detail {
        grid-column: span 1;
        display: grid;
        grid: 1fr 1fr / 1fr;
        align-items: center;

        h3 {
          font-size: $font-size-master;
          color: $font-color-tertiary;
          font-weight: 200;
        }
        p{
          font-size: $font-size-primary;
        }

      }

    }
  }
  .side-nav-bottom {
    grid-row: span 1;
    display: grid;
    grid: 1fr 1fr / 1fr;
    margin-top: 1rem;
    border-top: 1px solid grey;

    .side-nav-bottom-options {
      display: grid;
      grid: auto / 1fr 3fr;
      align-items: center;
      padding: 0.5rem;
      margin: 0.5rem 0 0;
      color: #818181;
      cursor: pointer;
      height: 70%;

      &:hover {
        background-color: #323c61;
      }

      h3 {
        color: $font-color-tertiary;
        font-size: $font-size-master;
        font-weight: 200;
      }

      svg {
        margin-left: 0.5rem;
        color: $icon-primary;
      }

    }

  }
}
